body
{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table
{
    border-collapse: collapse;
    width: 100%;
    max-width: 60rem;
}

thead
{
    background-color: maroon;
}

th, td
{
    font-size: 1.5rem;
    padding: 1rem 1rem;
    text-align: center;
}

th
{
    color: white;
}

tbody tr:nth-child(even)
{
    background-color: lightgrey;
}

.win-meter
{
    border: 2px solid white;
    border-radius: 5px;
    overflow: hidden;
}

.win
{
    background: blue;
}

.draw
{
    background: grey;
}

.loss
{
    background: red;
}