body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background: #fdfdfd;
    color: #333;
}

header {
    background-color: #ffcb77;
    padding: 1rem;
    text-align: center;
}

.search-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

input, select, textarea, button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.Player-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    padding: 1rem;
}

.player-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px #ccc;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    max-width: 50rem;
}

.player-card img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.add-player-form {
    padding: 2rem;
    background: #fff3e0;
    margin-top: 2rem;
}