body
{
    background-color: black;
    margin: 0;
}

p
{
    font-family: monospace;
    font-size: 3rem;
    margin: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: white;
}