body
{
    margin: 0;
    padding: 0;
}

#container
{
    width: 100%;
    max-width: 60rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timers
{
    display: flex;
    justify-content: space-evenly;
}

.player
{
    font-size: 5rem;
    font-family: monospace;
    background-color: grey;
    cursor: default;
}

.active
{
    background-color: lightblue;
    cursor: pointer;
}

#reset,
#pause
{
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}